<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

    <header>        
        <% include ../partials/header %>        
    </header>

    <div class="row">
        <div class="col s12">
            <h2 class="red-text text-lighten-1">Línea <%= idl %></h2>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="tabs">            
                <li class="tab col s3">
                    <a class="tabs__text active" href="#direccion1">
                        <i class="material-icons">swap_vert</i>
                        <%= direccion1 %>
                    </a>
                </li>                
                <li class="tab col s3">                    
                    <a class="tabs__text" href="#direccion2">
                        <i class="material-icons">swap_vert</i>
                        <%= direccion2 %>
                    </a>
                </li>
            </ul>
        </div>
        <div id="direccion1" class="col s12">
            <div class="row">
                <% stopsDir1.forEach(function(stop) { %>                    
                    <div class="col s12">
                        <div class="card purple <%= stop.color %>">
                            <div class="card-content">
                                <span class="flow-text white-text"><%= stop.name %></span>
                                <p class="white-text text-accent-1">
                                    <%= stop.proxima.fromNow() %>
                                    (<%= stop.proxima.format("HH:mm") %>)
                                </p>
                            </div>
                                
                        </div>
                    </div>            
                <% }); %>
            </div>            

        </div>
        <div id="direccion2" class="col s12">
            <div class="row">
                <% stopsDir2.forEach(function(stop) { %>                    
                    <div class="col s12">
                        <div class="card purple <%= stop.color %>">
                            <div class="card-content">
                                <span class="flow-text white-text"><%= stop.name %></span>
                                <p class="white-text text-accent-1">
                                    <%= stop.proxima.fromNow() %>
                                    (<%= stop.proxima.format("HH:mm") %>)
                                </p>
                            </div>
                                
                        </div>
                    </div>            
                <% }); %>
            </div>
        </div>        
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>